/* General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@media screen and (max-width: 430px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .app-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: white;
    }
    
    /* Header */
    header {
        height: 14vh;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    /* Main Content */
    .tudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        flex: 1; /* Ocupa o espaço disponível entre header e footer */
        padding: 20px;
    }
    
    .tudo section {
        margin-bottom: 10px;
    }
    
    h1 {
        font-size: 2.4vh;
        color: #D32F2F;
    }
    
    p {
        font-size: 1.6vh;
        margin: 10px 0;
    }
    
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }
    
    .linha {
        width: 100%;
        height: 8vh;
        color: white;
        font-size: 2.2vh;
        font-weight: bold;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .linha span {
        font-size: 1.6vh;
    }
    
    /* Information Section */
    .infobaixo {    
        font-size: 1.4vh;
        color: #555;
        padding: 10px;
        text-align: center;
    }
    
    /* Footer */
    footer {
        height: 7vh;
        background-color: #FF0000;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    } 
    
    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: white;
    }
    
    footer div img {
        height: 60%; /* Ajusta a altura das imagens no footer */
    }
}